/* - PC FAMILY MODAL STYLES-------------------*/

.prompt:has(.brother),
.prompt:has(.son),
.prompt:has(.cluster),
.prompt:has(.orphan),
.prompt:has(.delete) {


  display: grid !important;
  align-items: center !important;
  grid-template-columns: 30% 70%;

  top: 30% !important;


}

.prompt:has(.brother) .modal-content,
.prompt:has(.son) .modal-content,
.prompt:has(.cluster) .modal-content,
.prompt:has(.delete) .modal-content,
.prompt:has(.orphan) .modal-content,
.prompt:has(.noThing) .modal-content {

  display: none
}

.prompt:has(.brother) .modal-close-button,
.prompt:has(.son) .modal-close-button,
.prompt:has(.cluster) .modal-close-button,
.prompt:has(.delete) .modal-close-button,
.prompt:has(.orphan) .modal-close-button,
.prompt:has(.noThing) .modal-close-button {


  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

}

.prompt-input {
  border: none !important;
}

.inputMsgCon {

  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  font-size: var(--font-ui-medium);
  font-weight: bold;
  justify-items: center;
  height: 57px;
}
.cluster {
  background-color: hsl(154.99deg 50% 30%)
}
.son {
  background-color: hsl(340.53deg 50% 30%);
}

.brother {
  background-color: hsl(210.38deg 50% 30%)
}

.orphan {
  background-color: hsl(303deg 50% 30%);
}

.delete {
  background-color: hsl(5, 83%, 42%)
}

.prompt:has(.noThing) {
  display: grid;
  border-radius: 0 !important;
  grid-template-columns: 65px 1fr;
  align-items: center;
}

.prompt:has(.noThing) .delMsg {
  padding-left: 0 !important;

}

.noThing {
  background-color: var(--background-primary);
}

.inputDelete {
  opacity: 0.0;
  position: absolute;
}

.delMsg {
  color: var(--text-faint);
  padding-left: var(--size-4-6);
}

.delMsg .delNoteNameMsg {
  color: hsl(5, 83%, 42%);
  text-decoration: underline;

}

.prompt:has(.delMsg) {
  height: 85px;
}


.textMsg {
  justify-self: left;
}

.svg {
  text-align: center;
  height: 40px;
  width: 40px;
}

.inputMsgCon .lucide-baby,
.inputMsgCon .lucide-git-compare,
.inputMsgCon .lucide-trash-2,
.inputMsgCon .lucide-x-circle,
.inputMsgCon .lucide-git-commit-vertical,
.inputMsgCon .cluster-svg {
  text-align: center;
  height: 40px !important;
  width: 40px !important;

}


/* -orphan */
/* .inputMsgCon.orphan{
  background-color: hsl(303deg 50% 30%);
  display: grid;
  grid-template-columns: 1fr;

} */
/* .inputMsgCon.orphan .textMsg{
justify-self: center;

} */
/* - FILE TREE -------------------*/

.clustersFolderTreeElement{
  color: hsl(155 30% 50% ) !important;
}
.clustersFilesTreeElementTitles{
  color: hsl(155 30% 50% ) !important;
}
.orphansFolderTreeElement{
  color:hsl(303deg 30% 50%)   !important;
}
/* - FILE MENU -------------------*/
.menu-item:has(.menu-item-icon .lucide-folder-git-2 ) {
  background-color: hsl(154.99deg 50% 30%/ 40%)   !important;
}
.menu-item.selected:has(.menu-item-icon .lucide-folder-git-2 ) {
  background-color:hsl(154.99deg 50% 30%/ 80%)   !important;
}
.menu-item:has(.menu-item-icon .lucide-baby ) {
  background-color: hsl(341deg 50% 30% / 40%)  !important;
  margin-bottom: 2px;
}
.menu-item.selected:has(.menu-item-icon .lucide-baby ) {
  background-color:hsl(341deg 50% 30% / 80%)  !important;
}
.menu-item:has(.menu-item-icon .lucide-git-compare ) {
  background-color: hsl(210deg 50% 30% / 40%)   !important;
}
.menu-item.selected:has(.menu-item-icon .lucide-git-compare ) {
  background-color:hsl(210deg 50% 30% / 80%)   !important;
}
.menu-item:has(.menu-item-icon .lucide-git-commit-vertical ) {
  background-color: hsl(303deg 50% 30%/ 40%)   !important;
}
.menu-item.selected:has(.menu-item-icon .lucide-git-commit-vertical ) {
  background-color:hsl(303deg 50% 30%/ 80%)   !important;
}

/* - PHONE FAMILY MODAL STYLES-------------------*/

.is-phone .prompt {
  display: block !important;
}

.is-phone .prompt:has(.delMsg) {
  height: inherit;
}

.is-phone .delMsg {
  padding: var(--size-4-4);
}

.is-phone .textMsg {
  margin-left: -70px;
  justify-self: center;
  font-size: var(--size-4-5);
}

.is-phone .prompt:has(.son) .modal-close-button,
.is-phone .prompt:has(.cluster) .modal-close-button,
.is-phone .prompt:has(.brother) .modal-close-button,
.is-phone .prompt:has(.delete) .modal-close-button,
.is-phone .prompt:has(.orphan) .modal-close-button,
.is-phone .prompt:has(.noThing) .modal-close-button {


  top: 0;
  right: 0;
  color: var(--text-normal);
  background-color: hsl(0deg 0% 55.12% / 36%);
  height: 57px;
  width: 57px;
  transform: translateY(0%);


}

.is-phone .prompt:has(.son) .modal-close-button::before,
.is-phone .prompt:has(.cluster) .modal-close-button::before,
.is-phone .prompt:has(.brother) .modal-close-button::before,
.is-phone .prompt:has(.delete) .modal-close-button::before,
.is-phone .prompt:has(.orphan) .modal-close-button::before,
.is-phone .prompt:has(.noThing) .modal-close-button::before {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

/* - NEW BUTTONS-------------------*/
.buttonsLineContainer {

  display: flex;
  justify-content: center;
  background-color:hsl(154.99deg 50% 30%/ 30%)   !important;

}
.buttonsLineContainer:has(.sonBtn) {
  background-color:hsl(154.99deg 50% 30%/ 30%)   !important;
}
.buttonsLineContainer:not(:has(.sonBtn)) {
  background-color: hsl(303deg 50% 30% / 30%) !important;
}

.btn{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}
.btn:hover {
  box-shadow: none;
  opacity: var(--icon-opacity-hover);
  color: var(--icon-color-hover);
  background-color: var(--background-modifier-hover);
}
.btn svg{
  color:#DCDDDE

}

.sonBtn:hover svg{
 
}
.brotherBtn{
 
}
.orphanBtn{
 
}
.deleteBtn{
 
}

/* -BUTTONS STYLES-------------------*/

/* *new son*/
.table-cell-wrapper:has(a[href*="New%20son"]),
th:has(a[href*="New%20son"]) {
  padding: 0 !important;
  background: hsl(341, 50%, 30%) !important;
}

a[href*="New%20son"] {
  display: grid;
  height: 100%;
  width: 100%;
  color: var(--text-normal);
  background-color: none;
  text-decoration-line: none !important;
  background-image: none !important;
  background-color: none !important;
  align-content: center;
  justify-items: center;
  padding: 2px 10px;
}

/* *new Brother*/
.table-cell-wrapper:has(a[href*="New%20brother"]),
th:has(a[href*="New%20brother"]) {
  padding: 0 !important;
  background: hsl(210, 50%, 30%) !important
}

a[href*="New%20brother"] {
  display: grid;
  height: 100%;
  width: 100%;
  color: var(--text-normal);
  background-color: none;
  text-decoration-line: none !important;
  background-image: none !important;
  background-color: none !important;
  align-content: center;
  justify-items: center;
  padding: 2px 10px;

}

/* *new Orphan*/
.table-cell-wrapper:has(a[href*="New%20orphan"]),
th:has(a[href*="New%20orphan"]) {
    padding: 0 !important;
    background: hsl(303, 50%, 30%) !important
}
a[href*="New%20orphan"] {
    display: grid;
    height: 100%;
    width: 100%;
    color: var(--text-normal);
    background-color: none;
    text-decoration-line: none !important;
    background-image: none !important;
    background-color: none !important;
    align-content: center;
    justify-items: center;
    padding: 2px 10px;

}
/* *Delete*/
.table-cell-wrapper:has(a[href*="Delete%20active%20note"]),
th:has(a[href*="Delete%20active%20note"]) {
  padding: 0 !important;
  background: hsl(5, 83%, 42%) !important
}

a[href*="Delete%20active%20note"] {
  display: grid;
  height: 100%;
  width: 100%;
  color: var(--text-normal);
  background-color: none;
  text-decoration-line: none !important;
  background-image: none !important;
  background-color: none !important;
  align-content: center;
  justify-items: center;
  padding: 2px 10px;

}

.table-wrapper:has(.external-link) .table-row-btn,
.table-wrapper:has(.external-link) .table-col-btn,
.table-wrapper:has(.external-link) .table-row-drag-handle,
.table-wrapper:has(.external-link) .table-col-drag-handle {
  display: none !important;

  cursor: default !important;
  pointer-events: none !important;
}

/*- animation */

.inputMsgCon.son:hover svg {

  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

.prompt:has(.delete):hover svg {

  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}