/* - PC FAMILY MODAL STYLES-------------------*/

.prompt:has(.brother),
.prompt:has(.son),
.prompt:has(.cluster),
.prompt:has(.orphan),
.prompt:has(.delete),
.prompt:has(.noThing) {


  display: grid !important;
  align-items: center !important;
  grid-template-columns: 30% 1fr 25px 25px;
  box-shadow: none !important;
  border-radius: 0;
  top: 30% !important;


}

.prompt:has(.brother) .modal-content,
.prompt:has(.son) .modal-content,
.prompt:has(.cluster) .modal-content,
.prompt:has(.delete) .modal-content,
.prompt:has(.orphan) .modal-content,
.prompt:has(.noThing) .modal-content {

  display: none
}

.prompt:has(.brother) .modal-close-button,
.prompt:has(.son) .modal-close-button,
.prompt:has(.cluster) .modal-close-button,
.prompt:has(.delete) .modal-close-button,
.prompt:has(.orphan) .modal-close-button,
.prompt:has(.noThing) .modal-close-button {


  display: none
}

.prompt-input {
  border: none !important;
}

.inputMsgCon {

  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  font-size: var(--font-ui-medium);
  font-weight: bold;
  justify-items: center;
  height: 57px;
}

.inputMsgCon.cluster {
  background-color: hsl(154.99deg 50% 30%)
}

.inputMsgCon.son {
  background-color: hsl(340.53deg 50% 30%);
}

.inputMsgCon.brother {
  background-color: hsl(210.38deg 50% 30%)
}

.inputMsgCon.orphan {
  background-color: hsl(303deg 50% 30%);
}

.inputMsgCon.delete {
  background-color: hsl(5, 83%, 42%);
  grid-area: delete;
}

.inputMsgCon.noThing {
  grid-template-columns: none;
}

.prompt:has(.noThing) .btn.ok,
.prompt:has(.noThing) .btn.no{
  display: none;
}
/* -delete modal */
.prompt:has(.delete) {
  grid-template-columns:1fr 25px 25px;
  grid-template-rows: 57px 1fr;
  grid-template-areas: 
  "delete ok no"
  "delMsg delMsg delMsg";
  height: 157px

}
.prompt:has(.delete) .btn.ok{
  grid-area: ok;
}
.prompt:has(.delete) .btn.no{
  grid-area: no;
}

.inputDelete {
  height: 97px !important;
  background-color: red !important;
  opacity: 0.0;
  position: absolute;
  bottom: 0;
}
.delMsg {
  grid-area: delMsg;
  color: var(--text-faint);
  padding-left: var(--size-4-6);
}

.delMsg .delNoteNameMsg {
  color: hsl(5, 83%, 42%);
  text-decoration: underline;

}



.textMsg {
  justify-self: left;
}

.svg {
  text-align: center;
  height: 40px;
  width: 40px;
}

.inputMsgCon .lucide-baby,
.inputMsgCon .lucide-git-compare,
.inputMsgCon .lucide-trash-2,
.inputMsgCon .lucide-x-circle,
.inputMsgCon .lucide-git-commit-vertical,
.inputMsgCon .cluster-svg {
  text-align: center;
  height: 40px !important;
  width: 40px !important;

}


/* - FILE TREE -------------------*/

.clustersFolderTreeElement {
  color: hsl(155 30% 50%) !important;
}

.clustersFilesTreeElementTitles {
  color: hsl(155 30% 50%) !important;
}

.orphansFolderTreeElement {
  color: hsl(303deg 30% 50%) !important;
}

/* - FILE MENU -------------------*/
.menu-item:has(.menu-item-icon .lucide-folder-git-2) {
  background-color: hsl(154.99deg 50% 30%/ 40%) !important;
}

.menu-item.selected:has(.menu-item-icon .lucide-folder-git-2) {
  background-color: hsl(154.99deg 50% 30%/ 80%) !important;
}

.menu-item:has(.menu-item-icon .lucide-baby) {
  background-color: hsl(341deg 50% 30% / 40%) !important;
  margin-bottom: 2px;
}

.menu-item.selected:has(.menu-item-icon .lucide-baby) {
  background-color: hsl(341deg 50% 30% / 80%) !important;
}

.menu-item:has(.menu-item-icon .lucide-git-compare) {
  background-color: hsl(210deg 50% 30% / 40%) !important;
}

.menu-item.selected:has(.menu-item-icon .lucide-git-compare) {
  background-color: hsl(210deg 50% 30% / 80%) !important;
}

.menu-item:has(.menu-item-icon .lucide-disc) {
  background-color: hsl(303deg 50% 30%/ 40%) !important;
}

.menu-item.selected:has(.menu-item-icon .lucide-disc) {
  background-color: hsl(303deg 50% 30%/ 80%) !important;
}


/* - BUTTONS-------------------*/
.buttonsLineContainer {

  display: flex;
  justify-content: center;
  background-color: hsl(154.99deg 50% 30%/ 30%) !important;

}

.buttonsLineContainer:has(.sonBtn) {
  background-color: hsl(154.99deg 50% 30%/ 30%) !important;
}

.buttonsLineContainer:not(:has(.sonBtn)) {
  background-color: hsl(303deg 50% 30% / 30%) !important;
}

.btn {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}

.btn:hover {
  box-shadow: none;
  opacity: var(--icon-opacity-hover);
  color: var(--icon-color-hover);
  background-color: var(--background-modifier-hover);
}

.btn svg {
  color: #DCDDDE
}

.btn.ok {
  background-color: hsl(157, 26%, 17%);
  height: 57px;
}

.btn.ok:hover {
  background-color: hsl(157, 26%, 27%);
  cursor: pointer;
}

.btn.no {
  background-color: hsl(0deg 26% 17%);
  height: 57px;
  z-index: 100;
}

.btn.no:hover {
  background-color: hsl(0deg 26% 27%);
  cursor: pointer;
  z-index: 100;

}

/* - PHONE FAMILY MODAL STYLES-------------------*/

.is-phone .prompt:has(.btn) {
  display: grid !important;
  grid-template-columns:1fr 40px 40px;
  grid-template-rows: 57px 1fr;
  grid-template-areas: 
  "inputMsgCon ok no"
  "prompt-input prompt-input prompt-input";
  top: 20% !important;
}

.is-phone .inputMsgCon{
  grid-area: inputMsgCon;
}
.is-phone .prompt:has(.btn) .prompt-input{
  grid-area: prompt-input;
  align-self: start;

}
.is-phone .delMsg{
  grid-area: prompt-input;
  align-self: start;
  padding: var(--size-4-4);

}
.is-phone .btn.ok {
  grid-area: ok;
}
.is-phone .btn.no {
  grid-area: no;
}

.is-phone .btn{
  padding: 10px 15px;
}

.is-phone .prompt:has(.delete) {

  height: calc(var(--mobile-height) - var(--prompt-top) - var(--prompt-bottom));
}






/*- animation */

.inputMsgCon.son:hover svg {

  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

/* .prompt:has(.delete):hover svg {

  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
} */


@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}