.theme-dark {
  --background-prompt-son: hsl(340.53deg 50% 30%);
  --background-prompt-cluster: hsl(154.99deg 50% 30%);
  --background-prompt-brother: hsl(210.38deg 50% 30%);
  --background-prompt-orphan: hsl(303deg 50% 30%);
  --background-prompt-delete: hsl(5, 83%, 42%);
  --color-tree-Clusters: hsl(155 30% 50%);
  --color-tree-Orphans: hsl(303deg 30% 50%);
  --background-menu-cluster: hsl(154.99deg 50% 30%/ 40%) !important;
  --background-menu-cluster-selected: hsl(154.99deg 50% 30%/ 80%) !important;
  --background-menu-son: hsl(341deg 50% 30% / 40%) !important;
  --background-menu-son-selected: hsl(341deg 50% 30% / 80%) !important;
  --background-menu-brother: hsl(210deg 50% 30% / 40%) !important;
  --background-menu-brother-selected: hsl(210deg 50% 30% / 80%) !important;
  --background-menu-orphan: hsl(303deg 50% 30%/ 40%) !important;
  --background-menu-orphan-selected: hsl(303deg 50% 30%/ 80%) !important;
  --background-button-container-clusters: hsl(154.99deg 50% 30%/ 30%);
  --background-button-container-orphans: hsl(303deg 50% 30%/ 30%);
  --background-extra-button-container-clusters: hsl(154.99deg 50% 30%/ 30%);
  --background-extra-button-container-orphans: hsl(303deg 50% 30%/ 30%);
  --background-button-ok: hsl(157, 26%, 17%);
  --background-button-ok-hover: hsl(157, 26%, 27%);
  --background-button-no: hsl(0deg 26% 17%);
  --background-button-no-hover: hsl(0deg 26% 27%);
  --settings-background-opacity: 0.3;
}

.theme-light {
  --background-prompt-son: hsl(340.53deg 50% 30%);
  --background-prompt-cluster: hsl(154.99deg 50% 30%);
  --background-prompt-brother: hsl(210.38deg 50% 30%);
  --background-prompt-orphan: hsl(303deg 50% 30%);
  --background-prompt-delete: hsl(5, 83%, 42%);
  --color-tree-Clusters: hsl(154.99deg 70% 30%);
  --color-tree-Orphans: hsl(303deg 70% 30%);
  --background-menu-cluster: hsl(154.99deg 50% 30%/ 40%) !important;
  --background-menu-cluster-selected: hsl(154.99deg 50% 30%/ 80%) !important;
  --background-menu-son: hsl(341deg 50% 30% / 40%) !important;
  --background-menu-son-selected: hsl(341deg 50% 30% / 80%) !important;
  --background-menu-brother: hsl(210deg 50% 30% / 40%) !important;
  --background-menu-brother-selected: hsl(210deg 50% 30% / 80%) !important;
  --background-menu-orphan: hsl(303deg 50% 30%/ 40%) !important;
  --background-menu-orphan-selected: hsl(303deg 50% 30%/ 80%) !important;
  --background-button-container-clusters: hsl(155 30% 50%);
  --background-button-container-orphans: hsl(303deg 30% 50%);
  --background-extra-button-container-clusters: hsl(155 30% 50%);
  --background-extra-button-container-orphans: hsl(303deg 30% 50%);
  --background-button-ok: hsl(157, 26%, 17%);
  --background-button-ok-hover: hsl(157, 26%, 27%);
  --background-button-no: hsl(0deg 26% 17%);
  --background-button-no-hover: hsl(0deg 26% 27%);
  --settings-background-opacity: 0.7;
}

.prompt {
  background-color: var(--background-primary);
}
.prompt:has(.brother), .prompt:has(.son), .prompt:has(.cluster), .prompt:has(.delete), .prompt:has(.orphan), .prompt:has(.noThing) {
  display: grid !important;
  align-items: center !important;
  grid-template-columns: 30% 1fr 25px 25px;
  border-radius: 0;
  top: 30% !important;
}
.prompt:has(.brother) .modal-content,
.prompt:has(.brother) .modal-close-button, .prompt:has(.son) .modal-content,
.prompt:has(.son) .modal-close-button, .prompt:has(.cluster) .modal-content,
.prompt:has(.cluster) .modal-close-button, .prompt:has(.delete) .modal-content,
.prompt:has(.delete) .modal-close-button, .prompt:has(.orphan) .modal-content,
.prompt:has(.orphan) .modal-close-button, .prompt:has(.noThing) .modal-content,
.prompt:has(.noThing) .modal-close-button {
  display: none;
}
.prompt .prompt-input {
  border: none !important;
}
.prompt .inputMsgCon {
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  font-size: var(--font-ui-medium);
  font-weight: bold;
  justify-items: center;
  height: 57px;
}
.prompt .inputMsgCon.cluster {
  background-color: var(--background-prompt-cluster);
}
.prompt .inputMsgCon.son {
  background-color: var(--background-prompt-son);
}
.prompt .inputMsgCon.brother {
  background-color: var(--background-prompt-brother);
}
.prompt .inputMsgCon.orphan {
  background-color: var(--background-prompt-orphan);
}
.prompt .inputMsgCon.delete {
  background-color: var(--background-prompt-delete);
}
.prompt .inputMsgCon.noThing {
  grid-template-columns: none;
}

.prompt:has(.noThing) .btn.ok,
.prompt:has(.noThing) .btn.no {
  display: none;
}

.prompt:has(.delete) {
  grid-template-columns: 1fr 25px 25px;
  grid-template-rows: 57px 1fr;
  grid-template-areas: "delete ok no" "delMsg delMsg delMsg";
  height: 157px;
}

.prompt:has(.delete) .btn.ok {
  grid-area: ok;
}

.prompt:has(.delete) .btn.no {
  grid-area: no;
}

.inputDelete {
  height: 97px !important;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.delMsg {
  grid-area: delMsg;
  color: var(--text-faint);
  padding-left: var(--size-4-6);
}

.delMsg .delNoteNameMsg {
  color: var(--background-prompt-delete);
  text-decoration: underline;
}

.textMsg {
  justify-self: left;
}

.svg {
  text-align: center;
  height: 40px;
  width: 40px;
}

.inputMsgCon .lucide-baby,
.inputMsgCon .lucide-git-compare,
.inputMsgCon .lucide-trash-2,
.inputMsgCon .lucide-x-circle,
.inputMsgCon .lucide-git-commit-vertical,
.inputMsgCon .cluster-svg {
  text-align: center;
  height: 40px !important;
  width: 40px !important;
}

.clustersFolderTreeElement {
  color: var(--color-tree-Clusters);
}

.clustersFilesTreeElementTitles {
  color: var(--color-tree-Clusters);
}

.orphansFolderTreeElement {
  color: var(--color-tree-Orphans);
}

.unSortedFolderTreeElement {
  position: relative;
  overflow: visible;
}
.unSortedFolderTreeElement .unSortedFilesNumber {
  position: absolute;
  right: -30px;
  top: 0;
  color: red;
}

.menu-item:has(.menu-item-icon .lucide-folder-git-2) {
  background-color: var(--background-menu-cluster);
}

.menu-item.selected:has(.menu-item-icon .lucide-folder-git-2) {
  background-color: var(--background-menu-cluster-selected);
}

.menu-item:has(.menu-item-icon .lucide-baby) {
  background-color: var(--background-menu-son);
  margin-bottom: 2px;
}

.menu-item.selected:has(.menu-item-icon .lucide-baby) {
  background-color: var(--background-menu-son-selected);
}

.menu-item:has(.menu-item-icon .lucide-git-compare) {
  background-color: var(--background-menu-brother);
}

.menu-item.selected:has(.menu-item-icon .lucide-git-compare) {
  background-color: var(--background-menu-brother-selected);
}

.menu-item:has(.menu-item-icon .lucide-disc) {
  background-color: var(--background-menu-orphan);
}

.menu-item.selected:has(.menu-item-icon .lucide-disc) {
  background-color: var(--background-menu-orphan-selected);
}

.buttonsLineContainer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 60;
  height: 26px;
}
.buttonsLineContainer:has(.sonBtn) {
  background-color: var(--background-button-container-clusters);
}
.buttonsLineContainer:not(:has(.sonBtn)) {
  background-color: var(--background-button-container-orphans);
}
.buttonsLineContainer .extraButtonsContainer {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 26px;
  top: 26px;
  right: 0;
  transition: height 0.4s;
}
.buttonsLineContainer .extraButtonsContainer.showOnClusters {
  background-color: var(--background-extra-button-container-clusters);
  height: 78px;
}
.buttonsLineContainer .extraButtonsContainer.showOnOrphans {
  background-color: var(--background-extra-button-container-orphans);
  height: 78px;
}

.btn {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}
.btn:hover {
  box-shadow: none;
  background-color: var(--background-modifier-hover);
  cursor: pointer;
}
.btn.ok {
  background-color: var(--background-button-ok);
  height: 57px;
}
.btn.ok:hover {
  background-color: var(--background-button-ok-hover);
}
.btn.no {
  background-color: var(--background-button-no);
  height: 57px;
}
.btn.no:hover {
  background-color: var(--background-button-no-hover);
}
.btn.extraBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  transition: transform 0.5s;
}
.btn.extraBtn.rotate-90-cw {
  transform: rotate(-90deg);
}
.btn svg {
  color: var(--icon-color);
}
.btn .cluster-svg {
  fill: var(--icon-color) !important;
}

.cluster-svg {
  fill: var(--icon-color) !important;
}

.is-phone .prompt:has(.btn) {
  display: grid !important;
  grid-template-columns: 1fr 40px 40px;
  grid-template-rows: 57px 1fr;
  grid-template-areas: "inputMsgCon ok no" "prompt-input prompt-input prompt-input";
  top: 20% !important;
}
.is-phone .prompt:has(.btn) .prompt-input {
  grid-area: prompt-input;
  align-self: start;
}
.is-phone .prompt:has(.noThing) {
  grid-template-columns: none;
}
.is-phone .prompt:has(.delete) {
  height: calc(var(--mobile-height) - var(--prompt-top) - var(--prompt-bottom));
}
.is-phone .inputMsgCon {
  grid-area: inputMsgCon;
}
.is-phone .delMsg {
  grid-area: prompt-input;
  align-self: start;
  padding: var(--size-4-4);
}
.is-phone .btn {
  padding: 10px 15px;
}
.is-phone .btn.ok {
  grid-area: ok;
}
.is-phone .btn.no {
  grid-area: no;
}

.theme-light .prompt .inputMsgCon {
  color: var(--background-primary);
}
.theme-light .prompt .inputMsgCon .cluster-svg {
  fill: var(--background-primary);
}
.theme-light .btn.ok {
  background-color: hsl(157, 50%, 30%);
}
.theme-light .btn.ok:hover {
  background-color: hsl(157, 50%, 40%);
}
.theme-light .btn.no {
  background-color: hsl(0, 50%, 30%);
}
.theme-light .btn.no:hover {
  background-color: hsl(0, 50%, 40%);
}
.theme-light .btn svg {
  color: var(--background-primary);
}
.theme-light .btn .cluster-svg {
  fill: var(--background-primary) !important;
}
.theme-light .delMsg {
  color: var(--text-normal);
}
.theme-light .cluster-svg {
  fill: var(--background-primary) !important;
}

.collapse-from-cluster .metadata-content {
  display: none;
  background-color: red;
}

.clusterSettingPage {
  position: relative;
  overflow: hidden;
}
.clusterSettingPage .setting-item {
  position: relative;
  z-index: 10;
}
.clusterSettingPage .setting-item.settingsBackground {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  filter: blur(50px);
  opacity: var(--settings-background-opacity);
  background-image: linear-gradient(#4ddc9e, #5b37eb, #f1307e);
  animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.clusterSettingPage .coffeeSettingBtn {
  color: #292222;
  background-color: #ffdd00;
}
.clusterSettingPage .coffeeSettingBtn:hover {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*- animation */
.inputMsgCon.son:hover svg {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/*# sourceMappingURL=styles.css.map */
