@use './parts/variables.scss';
@use './parts/newNavTree.scss';
@use './parts/animations.scss';
@use './parts/cluster-settings.scss';
@use './parts/is-mobile.scss';
@use './parts/buttons.scss';
@use './parts/file-menu.scss';
@use './parts/delete-modal.scss';
@use './parts/family-modal.scss';
@use './parts/light-theme.scss';


.hide {
	display: none;
}

.show {
	display: block;
}

// FOLD PROPERTIES-------------------*/
.collapse-from-cluster {
	.metadata-content {
		display: none;
	}
}

// FIRST PAGE OF ANY CLUSTER BACKGROUND COLOR ((the files which its names ends with '-cluster' ))-------------------*/
.viewContentElementBG {
	background-color: var(--background-first-page-clusters) !important;
}


.inputMsgCon.son:hover svg {
	-webkit-animation: jello-vertical 0.9s both;
	animation: jello-vertical 0.9s both;
}


.plugin-simple-focus-hidden {
	display: none;
}