.theme-dark {
  //-prompt colors
  --background-prompt-son: hsl(340.53deg 50% 30%);
  --background-prompt-cluster: hsl(154.99deg 50% 30%);
  --background-prompt-brother: hsl(210.38deg 50% 30%);
  --background-prompt-orphan: hsl(303deg 50% 30%);
  --background-prompt-delete: hsl(5, 83%, 42%);
  //-tree colors
  --color-tree-Clusters: hsl(155 30% 50%);
  --color-tree-Orphans: hsl(303deg 30% 50%);
  //-menu colors
  --background-menu-cluster: hsl(154.99deg 50% 30%/ 40%) !important;
  --background-menu-cluster-selected: hsl(154.99deg 50% 30%/ 80%) !important;
  --background-menu-son: hsl(341deg 50% 30% / 40%) !important;
  --background-menu-son-selected: hsl(341deg 50% 30% / 80%) !important;
  --background-menu-brother: hsl(210deg 50% 30% / 40%) !important;
  --background-menu-brother-selected: hsl(210deg 50% 30% / 80%) !important;
  --background-menu-orphan: hsl(303deg 50% 30%/ 40%) !important;
  --background-menu-orphan-selected: hsl(303deg 50% 30%/ 80%) !important;
  //- buttons container colors
  --background-button-container-clusters: hsl(154.99deg 50% 30%/ 30%);
  --background-button-container-orphans: hsl(303deg 50% 30%/ 30%);
  //- extra buttons container colors
  --background-extra-button-container-clusters: hsl(154.99deg 50% 30%/ 30%);
  --background-extra-button-container-orphans: hsl(303deg 50% 30%/ 30%);
  //- buttons colors
  --background-button-ok: hsl(157, 26%, 17%);
  --background-button-ok-hover: hsl(157, 26%, 27%);
  --background-button-no: hsl(0deg 26% 17%);
  --background-button-no-hover: hsl(0deg 26% 27%);
  //- FIRST PAGE OF ANY CLUSTER BACKGROUND COLOR
  --background-first-page-clusters: hsl(155deg 50% 30% / 10%);
  //- CLUSTER SETTING PAGE
  --settings-background-opacity: 0.3;
}

.theme-light {
  //-prompt colors
  --background-prompt-son: hsl(340.53deg 50% 30%);
  --background-prompt-cluster: hsl(154.99deg 50% 30%);
  --background-prompt-brother: hsl(210.38deg 50% 30%);
  --background-prompt-orphan: hsl(303deg 50% 30%);
  --background-prompt-delete: hsl(5, 83%, 42%);
  //-tree colors
  --color-tree-Clusters: hsl(154.99deg 70% 30%);
  --color-tree-Orphans: hsl(303deg 70% 30%);
  //-menu colors
  --background-menu-cluster: hsl(154.99deg 50% 30%/ 40%) !important;
  --background-menu-cluster-selected: hsl(154.99deg 50% 30%/ 80%) !important;
  --background-menu-son: hsl(341deg 50% 30% / 40%) !important;
  --background-menu-son-selected: hsl(341deg 50% 30% / 80%) !important;
  --background-menu-brother: hsl(210deg 50% 30% / 40%) !important;
  --background-menu-brother-selected: hsl(210deg 50% 30% / 80%) !important;
  --background-menu-orphan: hsl(303deg 50% 30%/ 40%) !important;
  --background-menu-orphan-selected: hsl(303deg 50% 30%/ 80%) !important;
  //- buttons container colors
  --background-button-container-clusters: hsl(155 30% 50%);
  --background-button-container-orphans: hsl(303deg 30% 50%);
  //- extra buttons container colors
  --background-extra-button-container-clusters: hsl(155 30% 50%);
  --background-extra-button-container-orphans: hsl(303deg 30% 50%);
  //- buttons colors
  --background-button-ok: hsl(157, 26%, 17%);
  --background-button-ok-hover: hsl(157, 26%, 27%);
  --background-button-no: hsl(0deg 26% 17%);
  --background-button-no-hover: hsl(0deg 26% 27%);
  //- FIRST PAGE OF ANY CLUSTER BACKGROUND COLOR
  --background-first-page-clusters: hsl(155 30% 50% / 10%);
  //- CLUSTER SETTING PAGE
  --settings-background-opacity: 0.7;


}

.hide {
  display: none;
}

.show {
  display: block;
}

//- PC FAMILY MODAL STYLES-------------------*/
.prompt {
  background-color: var(--background-primary);

  &:has(.brother),
  &:has(.son),
  &:has(.cluster),
  &:has(.delete),
  &:has(.orphan),
  &:has(.noThing) {
    display: grid !important;
    align-items: center !important;
    grid-template-columns: 30% 1fr 25px 25px;
    border-radius: 0;
    top: 30% !important;


    .modal-content,
    .modal-close-button {
      display: none;
    }
  }

  .prompt-input {
    border: none !important;
  }

  //-input Msg Container
  .inputMsgCon {
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
    font-size: var(--font-ui-medium);
    font-weight: bold;
    justify-items: center;
    height: 57px;

    &.cluster {
      background-color: var(--background-prompt-cluster)
    }

    &.son {
      background-color: var(--background-prompt-son)
    }

    &.brother {
      background-color: var(--background-prompt-brother)
    }

    &.orphan {
      background-color: var(--background-prompt-orphan);
    }

    &.delete {
      background-color: var(--background-prompt-delete);

    }

    &.noThing {
      grid-template-columns: none;
    }

  }

}


.prompt:has(.noThing) .btn.ok,
.prompt:has(.noThing) .btn.no {
  display: none;
}

//-delete modal
.prompt:has(.delete) {
  grid-template-columns: 1fr 25px 25px;
  grid-template-rows: 57px 1fr;
  grid-template-areas:
    "delete ok no"
    "delMsg delMsg delMsg";
  height: 157px
}

.prompt:has(.delete) .btn.ok {
  grid-area: ok;
}

.prompt:has(.delete) .btn.no {
  grid-area: no;
}

.inputDelete {
  height: 97px !important;
  opacity: 0.0;
  position: absolute;
  bottom: 0;
}

.delMsg {
  grid-area: delMsg;
  color: var(--text-faint);
  padding-left: var(--size-4-6);
}

.delMsg .delNoteNameMsg {
  color: var(--background-prompt-delete);
  text-decoration: underline;

}



.textMsg {
  justify-self: left;
}

.svg {
  text-align: center;
  height: 40px;
  width: 40px;
}

.inputMsgCon .lucide-baby,
.inputMsgCon .lucide-git-compare,
.inputMsgCon .lucide-trash-2,
.inputMsgCon .lucide-x-circle,
.inputMsgCon .lucide-git-commit-vertical,
.inputMsgCon .cluster-svg {
  text-align: center;
  height: 40px !important;
  width: 40px !important;

}


//- FILE TREE -------------------*/

.clustersFolderTreeElement {
  color: var(--color-tree-Clusters);
}

.clustersFilesTreeElementTitles {
  color: var(--color-tree-Clusters);
}

.orphansFolderTreeElement {
  color: var(--color-tree-Orphans)
}

.unSortedFolderTreeElement {
  position: relative;
  overflow: visible;

  .unSortedFilesNumber {
    position: absolute;
    right: -30px;
    top: 0;
    color: red
  }
}

//-FILE MENU -------------------*/
.menu-item:has(.menu-item-icon .lucide-folder-git-2) {
  background-color: var(--background-menu-cluster);
}

.menu-item.selected:has(.menu-item-icon .lucide-folder-git-2) {
  background-color: var(--background-menu-cluster-selected);
}

.menu-item:has(.menu-item-icon .lucide-baby) {
  background-color: var(--background-menu-son);
  margin-bottom: 2px;
}

.menu-item.selected:has(.menu-item-icon .lucide-baby) {
  background-color: var(--background-menu-son-selected);
}

.menu-item:has(.menu-item-icon .lucide-git-compare) {
  background-color: var(--background-menu-brother);
}

.menu-item.selected:has(.menu-item-icon .lucide-git-compare) {
  background-color: var(--background-menu-brother-selected);
}

.menu-item:has(.menu-item-icon .lucide-disc) {
  background-color: var(--background-menu-orphan);
}

.menu-item.selected:has(.menu-item-icon .lucide-disc) {
  background-color: var(--background-menu-orphan-selected);
}


//-BUTTONS-------------------*/
.buttonsLineContainer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 60;
  height: 26px;

  &:has(.sonBtn) {
    background-color: var(--background-button-container-clusters);
  }

  &:not(:has(.sonBtn)) {
    background-color: var(--background-button-container-orphans);
  }

  .extraButtonsContainer {
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 26px;
    top: 26px;
    right: 0;
    transition: height 0.4s;

    &.showOnClusters {
      background-color: var(--background-extra-button-container-clusters);
      height: 78px;
    }

    &.showOnOrphans {
      background-color: var(--background-extra-button-container-orphans);
      height: 78px;
    }
  }
}

//-BUTTONS STYLES-------------------*/

.btn {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;


  &:hover {
    box-shadow: none;
    background-color: var(--background-modifier-hover);
    cursor: pointer;
  }

  &.ok {
    background-color: var(--background-button-ok);
    height: 57px;

    &:hover {
      background-color: var(--background-button-ok-hover);
    }

  }

  &.no {
    background-color: var(--background-button-no);
    height: 57px;

    &:hover {
      background-color: var(--background-button-no-hover);
    }

  }

  &.extraBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    transition: transform 0.5s;

    &.rotate-90-cw {
      transform: rotate(-90deg);
    }
  }

  svg {
    color: var(--icon-color)
  }

  .cluster-svg {
    fill: var(--icon-color) !important
  }

}

.cluster-svg {
  fill: var(--icon-color) !important
}

//-PHONE FAMILY MODAL STYLES-------------------*/

.is-phone {
  .prompt {
    &:has(.btn) {
      display: grid !important;
      grid-template-columns: 1fr 40px 40px;
      grid-template-rows: 57px 1fr;
      grid-template-areas:
        "inputMsgCon ok no"
        "prompt-input prompt-input prompt-input";
      top: 20% !important;

      .prompt-input {
        grid-area: prompt-input;
        align-self: start;
      }
    }

    &:has(.noThing) {
      grid-template-columns: none;
    }

    &:has(.delete) {
      height: calc(var(--mobile-height) - var(--prompt-top) - var(--prompt-bottom));
    }
  }

  .inputMsgCon {
    grid-area: inputMsgCon;
  }

  .delMsg {
    grid-area: prompt-input;
    align-self: start;
    padding: var(--size-4-4);

  }

  .btn {
    padding: 10px 15px;

    &.ok {
      grid-area: ok;
    }

    &.no {
      grid-area: no;
    }
  }
}

//- LIGHT THEME-------------------*/

.theme-light {
  .prompt {
    .inputMsgCon {
      color: var(--background-primary);

      .cluster-svg {
        fill: var(--background-primary);
      }
    }
  }

  .btn {
    &.ok {
      background-color: hsl(157 50% 30%);

      &:hover {
        background-color: hsl(157 50% 40%);
      }
    }

    &.no {
      background-color: hsl(0deg 50% 30%);

      &:hover {
        background-color: hsl(0deg 50% 40%);
      }
    }

    svg {
      color: var(--background-primary);
    }

    .cluster-svg {
      fill: var(--background-primary) !important;

    }
  }

  .delMsg {
    color: var(--text-normal);
  }

  .cluster-svg {
    fill: var(--background-primary) !important;

  }
}

//- FOLD PROPERTIES-------------------*/
.collapse-from-cluster {
  .metadata-content {
    display: none;
  }
}

//- FIRST PAGE OF ANY CLUSTER BACKGROUND COLOR ((the files which its names ends with '-cluster' ))-------------------*/
.viewContentElementBG {
  background-color: var(--background-first-page-clusters) !important;
}

//- CLUSTER SETTING PAGE-------------------*/
.clusterSettingPage {
  position: relative;
  overflow: hidden;

  .setting-item {
    position: relative;
    z-index: 10;

    &.color_input {
      flex-direction: row;

      .setting-item-control {
        flex-direction: column;
        align-items: start;
        row-gap: 20px;

        input {
          width: 80%;
          max-width: 300px;
        }

        &.inputDisable input {
          pointer-events: none;
          color: var(--text-faint);
          cursor: default;
        }

        &.inputEnable input {
          color: var(--text-normal);
          cursor: text;
        }

        &.inputDisable,
        &.inputEnable {
          position: relative;

          .inputExtraText {
            position: absolute;
            top: -20px;
            text-align: start;
            color: var(--text-muted);
            font-size: var(--font-ui-smaller);
          }

        }
      }


    }

    &.settingsBackground {
      width: 80%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      filter: blur(50px);
      opacity: var(--settings-background-opacity);
      background-image: linear-gradient(#4ddc9e, #5b37eb, #f1307e);
      animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    .customToggle {
      color: red;
      position: relative;

      .toggleExtraText {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        width: 200px;
        text-align: start;
        color: var(--text-muted);
        font-size: var(--font-ui-smaller);

      }
    }

    .coffeeSettingBtn {
      color: #292222;
      background-color: #ffdd00;

      &:hover {
        cursor: pointer;
      }
    }

  }


}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*- animation */

.inputMsgCon.son:hover svg {

  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}


@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}